/*                          */ 
/*  CyKITv2                 */
/*  CyCSS.css 2018.Feb.06   */
/* ======================== */
/*  Written by Warren       */ 
/*                          */ 
/*  CSS for CyKITv2.html    */ 
/*                          */ 

#connectBar {
    position:absolute;
    background-color:#777777;
    width:100%;
    height:100px;
    background-image:url('./images/blue-bg.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
}

#innerBar {
    margin-left:21%;
    margin-top:1%;
    color:white;
    background: rgba(0,0,0,0.3);
    min-width:300px;
     max-width:400px;
    border-radius: 10px;
    width:30%;
    height: 100%
}
#hostPort {
    position:relative;
    left:15px;
    top:8px;
}

#graphImage {
    position:absolute;
    visibility:hidden;
    background-size: 25px 50px;
}

#CyKIT-picture {
    position:absolute;
    left:2%;
    top:2%;
    width:20%;
    height:100%;
    background-image:url('./images/CyKITv2-bg-off.png');
    background-size:200px 70px;
    background-repeat: no-repeat;
}

#leftPanel {
    position:absolute;
    background-color:black;
    top:109px;
    width:20%;
    height:100%;
    color:white;
    font-family: segoe ui;
}

#innerLeftPanel {
    color: #ffffff;
    position:relative;
    left: 3%;
    height:25%;
    opacity:.7;
    width: 70%;
    max-height:150px;
}

#glossy {
    position:absolute;
    width:100%;
    height:100%;
    background-image:url('./images/gloss.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
}

#cyInfo {
    position:absolute;
    left:1%;
    width:110%;
    height:125%;
    opacity:.9;
    background-color:#555555;
    border-radius: 10px;
    color:#ababab;
    font-size:12;
}

#cyInfoText {
    color: #ffffff;
    margin-left:10px; 
    margin-top:10px;
}

#cyCanvas { 
    position:relative; 
    height:100%;"
}
#manualSelection {
    visibility:visible; 
    overflow:hidden;
}

#selectInsightSensor {
    position:relative; 
    left:0%; 
    top:-67px; 
    width:80%; 
    height: 20%; 
    color:white; 
    visibility: hidden;
}

#selectEpocSensor {
    position:relative; 
    left:0%; 
    top:10px; 
    width:80%; 
    height:20%; 
    color:white; 
    visibility:hidden;
}

#gyroPane {
    position:relative;
    background-color:#ffffff;
    left:20%;
    top:150px;
    height:60%;
     width:78%;
    border-radius:5px;
    border: 2px solid #aaa;
}

#gamePane {
    position:relative;
    background-color:#ffffff;
    left:20%;
    top:150px;
    height:60%;
    width:78%;
    border-radius:5px;
    border: 2px solid #aaa;
}

#gyroCanvas {
    position:relative;
    height:100%;
}

#recordingForm {
    position:relative;
    background-color:#232323;
    left:20%;
    top:150px;
    height:60%;
    width:78%;
    border-radius:5px;
    border: 2px solid #aaa;
   
}

#settingsFormText {
    position:relative;
    top:20px;
    margin-left:52px;
}

#settingsForm {
    position:relative;
    background-color:#232323;
    left:20%;
    top:150px;
    height:60%;
    width:78%;
    border-radius:5px;
    border: 2px solid #aaa;
}

#maskView {
    position:absolute;
    left:50%;
    top:10px;
    z-index:1;
    visibility:hidden;
}

#canvasPane {
    position:relative;
    background-image: url('./images/graph.png');
    background-size: 25px 50px;
    left:20%;
    top:150px;
    height:60%;
    width:78%;
    border-radius:5px;
    border: 2px solid #aaa;    
}

label {
    color: #aaaaaa
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.slidecontainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 2px; 
    #background: #000000; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #43AFF4; 
    cursor: pointer;
    border-radius: 8px 8px 8px;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #43AFF4; 
    cursor: pointer; 
}